img{
    animation: alternate;
    color: blueviolet;
}

p{

    font-family: monospace;
    color: blueviolet;
}
ul{
    font-family: monospace;
    color: blueviolet;
}
h1{
    font-family: monospace;
    border: 3px solid black;
    color: blueviolet;
    margin: 3px;
}
h2{
    font-family: monospace;
    padding: 3px;
}
}